n8n-workflows/wf-04-playwright-bll.json
{
  "name": "WF-04 BLL via Playwright Worker",
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 260],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 2 }
          ]
        }
      }
    },
    {
      "name": "Call Playwright Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 260],
      "parameters": {
        "method": "POST",
        "url": "http://173.212.217.32:3001/scrape/bll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"source\": \"bll\", \"limit\": 100 }",
        "options": { "timeout": 120000 }
      }
    },
    {
      "name": "Transform BLL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 260],
      "parameters": {
        "jsCode": "const BLL_PORTAL_ID = 'cmnatwc8p0003f8xp4x5v1q2w'; // substituir se diferente no seu banco\nconst rows = $input.first().json?.data || $input.first().json || [];\nconst arr = Array.isArray(rows) ? rows : [];\nreturn arr.filter(i => i.title).map((i, idx) => ({ json: {\n  externalId: i.externalId || `BLL-${Date.now()}-${idx}`,\n  portalId: BLL_PORTAL_ID,\n  title: String(i.title || '').trim(),\n  organ: String(i.organ || 'BLL').trim(),\n  state: i.state || null,\n  city: i.city || null,\n  modality: i.modality || 'Nao informado',\n  estimatedValue: i.estimatedValue ? Number(i.estimatedValue) : null,\n  openingDate: i.openingDate || null,\n  pdfUrl: i.pdfUrl || i.link || null,\n  rawText: i.rawText || null\n}}));"
      }
    },
    {
      "name": "POST n8n-receiver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 260],
      "parameters": {
        "method": "POST",
        "url": "https://www.performancepregao.online/api/n8n-receiver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-secret", "value": "perf-n8n-secret-2024-ultra-secure-webhook-key!!" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": { "timeout": 30000 }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Call Playwright Worker", "type": "main", "index": 0 }]] },
    "Call Playwright Worker": { "main": [[{ "node": "Transform BLL", "type": "main", "index": 0 }]] },
    "Transform BLL": { "main": [[{ "node": "POST n8n-receiver", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
