n8n-workflows/wf-02-compras-gov-sync.json
{
  "name": "WF-02 Compras.gov Sync (via PNCP)",
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 260],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      }
    },
    {
      "name": "HTTP PNCP Publicacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 260],
      "parameters": {
        "method": "GET",
        "url": "https://pncp.gov.br/api/consulta/v1/contratacoes/publicacao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "dataInicial", "value": "={{ $now.minus(2, 'day').toFormat('yyyyMMdd') }}" },
            { "name": "dataFinal", "value": "={{ $now.toFormat('yyyyMMdd') }}" },
            { "name": "pagina", "value": "1" },
            { "name": "tamanhoPagina", "value": "100" }
          ]
        },
        "options": { "timeout": 45000 }
      }
    },
    {
      "name": "Transform ComprasGov",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 260],
      "parameters": {
        "jsCode": "const COMPRAS_GOV_PORTAL_ID = 'cmnatwc8p0002f8xp9yo8h7xj'; // substituir se diferente no seu banco\nconst rows = $input.first().json?.data || $input.first().json?.contratacoes || [];\nreturn rows.map(i => ({ json: {\n  externalId: i.numeroControlePNCP || i.numeroCompra || String(i.id || ''),\n  portalId: COMPRAS_GOV_PORTAL_ID,\n  title: (i.objetoCompra || i.descricao || 'Sem titulo').trim(),\n  organ: (i.orgaoEntidade?.razaoSocial || i.orgao || 'Nao informado').trim(),\n  state: i.unidadeOrgao?.ufSigla || i.uf || null,\n  city: i.unidadeOrgao?.municipioNome || i.municipio || null,\n  modality: (i.modalidadeNome || i.modalidade || 'Nao informado').trim(),\n  estimatedValue: i.valorTotalEstimado ? Number(i.valorTotalEstimado) : null,\n  openingDate: i.dataAberturaProposta ? new Date(i.dataAberturaProposta).toISOString() : null,\n  pdfUrl: i.linkSistemaOrigem || i.linkEdital || i.linkProcesso || null,\n  rawText: null\n}})).filter(x => x.json.externalId);"
      }
    },
    {
      "name": "POST n8n-receiver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 260],
      "parameters": {
        "method": "POST",
        "url": "https://www.performancepregao.online/api/n8n-receiver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-secret", "value": "perf-n8n-secret-2024-ultra-secure-webhook-key!!" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": { "timeout": 30000 }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "HTTP PNCP Publicacao", "type": "main", "index": 0 }]] },
    "HTTP PNCP Publicacao": { "main": [[{ "node": "Transform ComprasGov", "type": "main", "index": 0 }]] },
    "Transform ComprasGov": { "main": [[{ "node": "POST n8n-receiver", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
