n8n-workflows/wf-01-pncp-sync.json
{
  "name": "WF-01 PNCP Sync (Receiver)",
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 260],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "name": "HTTP PNCP Proposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 160],
      "parameters": {
        "method": "GET",
        "url": "https://pncp.gov.br/api/consulta/v1/contratacoes/proposta",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "dataInicial", "value": "={{ $now.minus(2, 'day').toFormat('yyyyMMdd') }}" },
            { "name": "dataFinal", "value": "={{ $now.toFormat('yyyyMMdd') }}" },
            { "name": "pagina", "value": "1" },
            { "name": "tamanhoPagina", "value": "100" }
          ]
        },
        "options": { "timeout": 45000 }
      }
    },
    {
      "name": "HTTP PNCP Publicacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 360],
      "parameters": {
        "method": "GET",
        "url": "https://pncp.gov.br/api/consulta/v1/contratacoes/publicacao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "dataInicial", "value": "={{ $now.minus(2, 'day').toFormat('yyyyMMdd') }}" },
            { "name": "dataFinal", "value": "={{ $now.toFormat('yyyyMMdd') }}" },
            { "name": "pagina", "value": "1" },
            { "name": "tamanhoPagina", "value": "100" }
          ]
        },
        "options": { "timeout": 45000 }
      }
    },
    {
      "name": "Transform + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 260],
      "parameters": {
        "jsCode": "const PNCP_PORTAL_ID = 'cmnatwc8p0001f8xpoefyuokp';\n\nconst proposta = $('HTTP PNCP Proposta').all();\nconst publicacao = $('HTTP PNCP Publicacao').all();\n\nfunction collect(arr) {\n  const out = [];\n  for (const e of arr) {\n    const rows = e.json?.data || e.json?.contratacoes || [];\n    for (const i of rows) {\n      const externalId = i.numeroControlePNCP || i.numeroCompra || String(i.id || '');\n      if (!externalId) continue;\n      const title = (i.objetoCompra || i.descricao || 'Sem titulo').trim();\n      const organ = (i.orgaoEntidade?.razaoSocial || i.orgao || 'Nao informado').trim();\n      out.push({\n        externalId,\n        portalId: PNCP_PORTAL_ID,\n        title,\n        organ,\n        state: i.unidadeOrgao?.ufSigla || i.uf || null,\n        city: i.unidadeOrgao?.municipioNome || i.municipio || null,\n        modality: (i.modalidadeNome || i.modalidade || 'Nao informado').trim(),\n        estimatedValue: i.valorTotalEstimado ? Number(i.valorTotalEstimado) : null,\n        openingDate: i.dataAberturaProposta ? new Date(i.dataAberturaProposta).toISOString() : null,\n        pdfUrl: i.linkSistemaOrigem || i.linkEdital || i.linkProcesso || null,\n        rawText: null\n      });\n    }\n  }\n  return out;\n}\n\nconst merged = [...collect(proposta), ...collect(publicacao)];\nconst seen = new Set();\nconst dedup = merged.filter(x => {\n  if (seen.has(x.externalId)) return false;\n  seen.add(x.externalId);\n  return true;\n});\n\nreturn dedup.map(i => ({ json: i }));"
      }
    },
    {
      "name": "POST n8n-receiver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [980, 260],
      "parameters": {
        "method": "POST",
        "url": "https://www.performancepregao.online/api/n8n-receiver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-secret", "value": "perf-n8n-secret-2024-ultra-secure-webhook-key!!" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": { "timeout": 30000 }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "HTTP PNCP Proposta", "type": "main", "index": 0 }, { "node": "HTTP PNCP Publicacao", "type": "main", "index": 0 }]] },
    "HTTP PNCP Proposta": { "main": [[{ "node": "Transform + Normalize", "type": "main", "index": 0 }]] },
    "HTTP PNCP Publicacao": { "main": [[{ "node": "Transform + Normalize", "type": "main", "index": 1 }]] },
    "Transform + Normalize": { "main": [[{ "node": "POST n8n-receiver", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
