n8n-workflows/wf-02-compras-gov-sync.json
{
  "name": "WF-02 Compras.gov Sync",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Fetch Portal ID from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM \"Portal\" WHERE type = 'COMPRAS_GOV' AND \"isActive\" = true LIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres DB Pregão"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Set Portal ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-portal-id",
              "name": "portalId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Fetch Compras.gov Publications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "parameters": {
        "method": "GET",
        "url": "https://pncp.gov.br/api/pncp/v1/contratacoes/publicacao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicial",
              "value": "={{ $now.minus(1, 'hour').format('yyyy-MM-dd') }}"
            },
            {
              "name": "dataFinal",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "pagina",
              "value": "1"
            },
            {
              "name": "tamanhoPagina",
              "value": "50"
            },
            {
              "name": "origem",
              "value": "COMPRAS_GOV"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Transform to Bidding Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "const portalId = $('Set Portal ID').first().json.portalId;\nconst response = $input.first().json;\nconst items = response.data || response.content || (Array.isArray(response) ? response : []);\n\nconst biddings = items.map(item => ({\n  json: {\n    externalId: item.numeroControlePNCP || `COMPRAS-${item.id}`,\n    portalId: portalId,\n    title: item.objetoCompra || item.descricao || 'Sem título',\n    organ: item.orgaoEntidade?.razaoSocial || item.nomeUnidadeOrgao || 'Não informado',\n    state: item.unidadeOrgao?.ufSigla || item.uf || null,\n    city: item.unidadeOrgao?.municipioNome || item.municipio || null,\n    modality: item.modalidadeNome || item.modalidade || 'Não informado',\n    estimatedValue: item.valorTotalEstimado ? parseFloat(item.valorTotalEstimado) : null,\n    openingDate: item.dataAberturaProposta ? new Date(item.dataAberturaProposta).toISOString() : null,\n    pdfUrl: item.linkSistemaOrigem || item.urlEdital || null,\n    status: 'OPEN',\n    createdAt: new Date().toISOString(),\n    updatedAt: new Date().toISOString()\n  }\n}));\n\nreturn biddings;"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Upsert Bidding to Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Bidding",
          "mode": "list"
        },
        "conflictTarget": "externalId",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "externalId": "={{ $json.externalId }}",
            "portalId": "={{ $json.portalId }}",
            "title": "={{ $json.title }}",
            "organ": "={{ $json.organ }}",
            "state": "={{ $json.state }}",
            "city": "={{ $json.city }}",
            "modality": "={{ $json.modality }}",
            "estimatedValue": "={{ $json.estimatedValue }}",
            "openingDate": "={{ $json.openingDate }}",
            "pdfUrl": "={{ $json.pdfUrl }}",
            "status": "={{ $json.status }}",
            "updatedAt": "={{ $json.updatedAt }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres DB Pregão"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Portal ID from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Portal ID from DB": {
      "main": [
        [
          {
            "node": "Set Portal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Portal ID": {
      "main": [
        [
          {
            "node": "Fetch Compras.gov Publications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Compras.gov Publications": {
      "main": [
        [
          {
            "node": "Transform to Bidding Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Bidding Schema": {
      "main": [
        [
          {
            "node": "Upsert Bidding to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "wf-02-compras-gov-sync-v1",
  "triggerCount": 0,
  "tags": [
    { "id": "tag-sync", "name": "sync" },
    { "id": "tag-compras-gov", "name": "compras-gov" }
  ]
}
