n8n-workflows/wf-03-alertas-diarios.json
{
  "name": "WF-03 Alertas Diários",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Schedule Trigger 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Fetch Active PRO and INFINITY_PLUS Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, name, \"planType\" FROM \"User\" WHERE \"planType\" IN ('PRO', 'INFINITY_PLUS') AND status = 'ACTIVE'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres DB Pregão"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Fetch New Biddings Last 24h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.id, b.title, b.organ, b.state, b.city, b.modality, b.\"estimatedValue\", b.\"openingDate\", b.\"pdfUrl\", p.name as \"portalName\" FROM \"Bidding\" b JOIN \"Portal\" p ON b.\"portalId\" = p.id WHERE b.\"createdAt\" >= NOW() - INTERVAL '24 hours' AND b.status = 'OPEN' ORDER BY b.\"openingDate\" ASC NULLS LAST LIMIT 50",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres DB Pregão"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Check if Biddings Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-biddings",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Build Email for Each User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "parameters": {
        "jsCode": "const users = $('Fetch Active PRO and INFINITY_PLUS Users').all();\nconst biddings = $('Fetch New Biddings Last 24h').all();\n\nconst emails = users.map(userItem => {\n  const user = userItem.json;\n  const today = new Date().toLocaleDateString('pt-BR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\n  const biddingRows = biddings.map(b => {\n    const bid = b.json;\n    const value = bid.estimatedValue\n      ? new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(bid.estimatedValue)\n      : 'A definir';\n    const openDate = bid.openingDate\n      ? new Date(bid.openingDate).toLocaleDateString('pt-BR')\n      : 'Não informado';\n    const pdfLink = bid.pdfUrl ? `<a href=\"${bid.pdfUrl}\" style=\"color:#00E5FF\">Ver edital</a>` : 'N/D';\n\n    return `\n      <tr>\n        <td style=\"padding:8px;border-bottom:1px solid #1a2035;color:#e2e8f0\">${bid.title}</td>\n        <td style=\"padding:8px;border-bottom:1px solid #1a2035;color:#94a3b8\">${bid.organ}</td>\n        <td style=\"padding:8px;border-bottom:1px solid #1a2035;color:#94a3b8\">${bid.state || '-'}/${bid.city || '-'}</td>\n        <td style=\"padding:8px;border-bottom:1px solid #1a2035;color:#00E5FF\">${value}</td>\n        <td style=\"padding:8px;border-bottom:1px solid #1a2035;color:#94a3b8\">${openDate}</td>\n        <td style=\"padding:8px;border-bottom:1px solid #1a2035\">${pdfLink}</td>\n      </tr>\n    `;\n  }).join('');\n\n  const html = `\n    <!DOCTYPE html>\n    <html>\n    <head><meta charset=\"UTF-8\"></head>\n    <body style=\"background:#0a0f1e;font-family:Arial,sans-serif;margin:0;padding:20px\">\n      <div style=\"max-width:800px;margin:0 auto;background:#0d1526;border:1px solid #1a2035;border-radius:12px;padding:24px\">\n        <h1 style=\"color:#00E5FF;margin-top:0\">Performance Pregão</h1>\n        <h2 style=\"color:#e2e8f0\">Novas Licitações — ${today}</h2>\n        <p style=\"color:#94a3b8\">Olá, ${user.name || user.email}! Encontramos ${biddings.length} nova(s) licitação(ões) nas últimas 24 horas.</p>\n        <table width=\"100%\" style=\"border-collapse:collapse;margin-top:16px\">\n          <thead>\n            <tr style=\"background:#1a2035\">\n              <th style=\"padding:8px;text-align:left;color:#00E5FF\">Título</th>\n              <th style=\"padding:8px;text-align:left;color:#00E5FF\">Órgão</th>\n              <th style=\"padding:8px;text-align:left;color:#00E5FF\">Local</th>\n              <th style=\"padding:8px;text-align:left;color:#00E5FF\">Valor Est.</th>\n              <th style=\"padding:8px;text-align:left;color:#00E5FF\">Abertura</th>\n              <th style=\"padding:8px;text-align:left;color:#00E5FF\">Link</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${biddingRows}\n          </tbody>\n        </table>\n        <p style=\"color:#64748b;font-size:12px;margin-top:24px\">Performance Pregão — Para cancelar alertas acesse sua conta em <a href=\"https://performancepregao.com.br\" style=\"color:#00E5FF\">performancepregao.com.br</a></p>\n      </div>\n    </body>\n    </html>\n  `;\n\n  return {\n    json: {\n      to: user.email,\n      subject: `[Performance Pregão] ${biddings.length} nova(s) licitação(ões) hoje — ${new Date().toLocaleDateString('pt-BR')}`,\n      html\n    }\n  };\n});\n\nreturn emails;"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 200],
      "parameters": {
        "fromEmail": "alertas@performancepregao.com.br",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Performance Pregão"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "No New Biddings",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 460],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger 07:00": {
      "main": [
        [
          {
            "node": "Fetch Active PRO and INFINITY_PLUS Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active PRO and INFINITY_PLUS Users": {
      "main": [
        [
          {
            "node": "Fetch New Biddings Last 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Biddings Last 24h": {
      "main": [
        [
          {
            "node": "Check if Biddings Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Biddings Exist": {
      "main": [
        [
          {
            "node": "Build Email for Each User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Biddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email for Each User": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "wf-03-alertas-diarios-v1",
  "triggerCount": 0,
  "tags": [
    { "id": "tag-alertas", "name": "alertas" },
    { "id": "tag-email", "name": "email" }
  ]
}
